/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: Raleway (body), Indie Flower (icon)
Website Colours: List colour hex codes here for reference
----------------------------
*/

 /*    CSS RESET    */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

/* .background-image {
  background-attachment:fixed;
} */
header {
  background-color: grey;
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  font-size: 3rem;
  text-align:center;
  min-height:50vh;
}

header .overlay {
  padding: 30%;
  background-color:rgba(255,255,255,0.6);
}

header.padding-30 {
  padding: 30%;
}

/* ----- UNIVERSAL STYLES --------------------------- */

.bg-featured{
  background-color: #1abc9c;
  color: white;
}
.bg-dark {}

.bg-light {}

.featured h1,
.featured h2,
.featured h3 {
  color: white;
}

section {
  padding: 10vh 5%;
  background-color: #fdfdfd;
}

body {
  font-family:'raleway';
  color: rgb(60,60,65);
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  padding-left: 10%;
  padding-right: 10%;
}
h3 {
  font-size: 1.5em;
}

.col, [class*=col-] {
  /* padding: 3%; */
}

.fa {
  font-size: 2.5em;
  margin: 0 0 0.5em;
  color: #1abc9c; /* featured-color */
}

p{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}
a{
  color:inherit;
}

h4{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height:2.5em;
}

.button{
  text-align:center;
  border: 2px solid black;
  width:150px;
  background-color:#e0edf7;
  color:black;
  display:block;
  margin:auto;
  padding:3%;
}

/*    HEADER CSS     */

.name-logo h1 {
  font-family:'indie flower';
  transform: rotate(-90deg);
  text-align:center;
  position:fixed;
  font-size: 1.5rem;
  line-height:0.4em;
  padding-top:20%;
}

.name-logo{
  top:-6%;
  left:-12%;
  position:fixed;
}
.menu-button{
  max-width:100px;
  max-height:150px;
  font-size:0.5rem;
  text-align: center;
  top: 15px;
  right:6px;
  position: fixed;
  z-index:10;
}

.menu-nav{
  display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
}
.menu-nav a{
  text-decoration: none;
  padding: 15px 11px;
  font-size: 80px;
  font-weight: 300;
  color: #b5b2b2;
  font-family: 'raleway', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
.menu-nav li{list-style:none}

/*END OF HEADER CSS */


/* START OF CSS FOR SECTION 2*/
.sec-2{
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
  text-align:center;
}

/* END OF CSS FOR SECTION 2 */

/*START OF CSS FOR SECTION 3*/
.about{
  text-align:center;
}
.bio-photo{
  background-image:url(img/swimming.jpg);
  /* background-color: grey; */
  background-size: cover;
  background-position: center;
  min-height:40vh;
  border:2rem solid #fdfdfd;
  margin:auto;
}

.col-6_sm-12{
  padding:3%;
  /* margin-right:-2rem; */
}

/*END OF CSS FOR SECTION 3 */
/* START OF CSS FOR SECTION 4*/
 .service-coach{
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.button2{
  text-align:center;
  border: 2px solid black;
  width:280px;
  min-height:120px;
  background-color:#e0edf7;
  color:black;
  display:flex;
  margin:auto;
  padding:3%;
  justify-content:center;
  align-items:center;
}
.blog{
  background-color:grey;
  background-image: url(img/yogakili.jpg);
  background-position: center;
  background-attachment:fixed;
  padding-bottom:50%;
  margin:auto;
  background-size:cover;
  opacity:0.6;
  display:flex;
}
.button3 {
  text-align:center;
  border: 2px solid black;
  width:200px;
  min-height:100px;
  background-color:#e0edf7;
  color:black;
  display:flex;
  margin:auto;
  justify-content:center;
  align-items: center;
  margin-top:30%;
  margin-left:43%;

}
.button:hover {
  background-color: #bec6cc;
  border-color: black;
}
.button2:hover {
  background-color: #bec6cc;
  border-color: #black;
}
.button3:hover {
  background-color: #bec6cc;
  border-color: #black;
}

/*footer css*/
.footer{
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.form{
  padding-left:5%;
  text-align:center;
}
.form button{
  padding-top:3%;
}
.mc-field-group{
  padding:3%;
}
.contact-info p{
  font-size:1rem;
  line-height:0.2em;
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.contact-info button{
  padding:3%;
}
.social-icons{
  font-size:2rem;
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* BIO PAGE CSS*/
.certifications h2{
  font-size:1rem;
  text-align:center;
  font-style:bold;
}
.certifications h4{
  font-size:0.8rem;
  text-align:center;
  line-height:1.2em;
}
.certifications{
  padding-left:5%;
  padding-right:5%
}
.bio-photo2{
  background-image: url(img/avocado-hat.jpg);
  /* background-color: grey; */
  background-size: cover;
  background-position: center;
  min-height:40vh;
  border:2rem solid #fdfdfd;
}
.about-me p{
  padding-top:0;
  padding-bottom:0;
}
.about-me{
  background-color: #b5b2b2;
  background-size: cover;
  background-position: center;
}
/* SERVICES CSS */
.coach h1, .speaking-writing h1,.web-development h1{
  font-size:3rem;
  text-align:center;
}
.coach h2,.speaking-writing h2,.web-development h2{
  font-size:1.5rem;
  text-align:center
}
.coach h3,.speaking-writing h2,.web-development h2{
  font-size:1rem;
  text-align:center;
}
.coach,.coaching{
  padding-left:5%;
  padding-right:5%;
  background-color:##fdfdfd;
  background-position:center;
  background-size:cover;
}
.coaching p{
  line-height:1em;
  margin:auto;
  text-align:center;
}
.grid-service-photo{
  background-image:url(img/spring-rolls.jpg);
  background-size:cover;
  background-position:center;
  background-color:#b5b2b2;
}
span.highlight{
  border: 2px solid black;
  padding:5%;
  font-size:2rem;
}
.program-options{
  text-align:center;
}

.speaking-writing{
  text-align:center;
  background-color:#b5b2b2;
  background-size:cover;
  background-position:center;
}

h4.button{
  width:200px;
}

.web-development{
  text-align:center;
}


/*TESTIMONIAL SLIDER CSS*/

body{
background:#fdfdfd;
}

#carousel {
position: relative;
width:60%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:'raleway', sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 30px;
    width: 100%;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#e0edf7;
text-decoration:none;
display:block;
padding:6px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#bec6cc;
text-shadow:.5px 0px #bec6cc;
}

.quote-phrase, .quote-author {
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 2px 20px;
font-family:'raleway', sans-serif;
}

.quote-phrase {
height: 200px;
font-size:18px;
color:black;
font-style:italic;
text-shadow:.5px 0px #b14943;
line-height:1.5em;
}

.quote-marks {
font-size:15px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:15px;
color:black;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
/*TESTIMONIAL PAGE CSS*/
.testimonial-bg{
  text-align:center;
  background-color:#b5b2b2;
  background-size:cover;
}
.testimonial-photo1 p,.testimonal-photo2 p, .testimonial-photo3 p, .testimonial-photo4 p{
  text-align: center;
  font-style:bold;
  font-size:1rem;
}
.testimonial-photo1{
  background-image:url(img/Runrevel.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;

}

.testimonial-photo2{
  background-image:url(img/hummus-platter.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}
.testimonial-photo3{
  background-image:url(img/buying-mango.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}
.testimonial-photo4{
  background-image:url(img/calafate.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}
section .overlay{
  background-color:rgba(250,250,250,0.6)
}
/*BLOG CSS*/

.date{
  font-size:10px;
}
.grid{
  display: flex;
}
.main-body{
  width:60%;
}
.sidebar{
  width:30%;
}
.blog-preview h1, .blog-preview h3{
  text-align:center;
}
.post-preview{
  padding:5%;
}
.featured-image{
  min-height:20%;
  min-width:20%;
  background-size:cover;
  background-position:center;
}
/* MEDIA QUERIES */
@media(max-width:1084px){
.banner-heading h1{
  font-size:2rem;
}
.menu-button{
  max-width:90px;
  max-height:140px;
  font-size:0.5rem;}
.name-logo{
    top:-3%;
    left:-12%;
  }
  .button2{
    width:265px;
  }
}/*end media query*/

@media(max-width:800px){
  .banner-heading h1{
    font-size:1.5rem;
  }
  .name-logo{
    top:-1%;
    left:-10%;
  }
  .name-logo h1 {
    font-size: 1.3rem;
    line-height:0.4em;
    padding-top:20%;
  }
  .name-logo{
    top:-2%;
    left:-12%;
  }
  .menu-button{
    max-width:90px;
    max-height:140px;
    font-size:0.5rem;}
} /*end media query*/

@media(max-width:600px){
  .banner-heading h1{
    font-size:1.2rem;
  }
  .name-logo{
    top:5%;
    left:-15%;
  }
  .name-logo h1 {
    font-size: 1.2rem;
    line-height:0.4em;
    padding-top:20%;
  }
  .menu-button{
    max-width:80px;
    max-height:130px;
    font-size:0.5rem;}
} /*end media query*/
  }/*end media query*/
  .mob-hide/*mobile hide */{
    display:none;
  }
  .mob-show{
    display:none;
} /*end media query*/

 /*visibility:hidden still holds space, but doesn't display whereas display:none gets rid of item and space*/
